# Bỏ qua toàn bộ thư mục BACKUP và tất cả file bên trong
/BACKUP/

# Bỏ qua toàn bộ thư mục Ref
/Ref/

# Bỏ qua môi trường ảo Python
/.venv/

# Tùy chọn: Bỏ qua tất cả các file nén .zip ở bất kỳ đâu trong dự án
*.zip