# Virtual environments
venv/
compiler_/*
compiler/*
!compiler/UnRAR.exe
cache/
build/
dist/
data/token.json
data/credentials.json

# Large files to ignore
*.rar
TutorAI_v1.0B.rar
TutorAI_v1A.rar

# Ignore virtual environments & heavy dependency folders
myenv/
node_modules/
__pycache__/
.vscode/

# Ignore temporary and run-time folders
temp/
log/
download/
upload/

# OS files
.DS_Store
Thumbs.db